In [86]:
import pandas as pd
import statistics

In [87]:
df = pd.read_csv("10yr_yield.csv")
df

            DATE DGS10
0     1999-01-04  4.69
1     1999-01-05  4.74
2     1999-01-06  4.73
3     1999-01-07  4.77
4     1999-01-08  4.86
...          ...   ...
5414  2019-10-04  1.52
5415  2019-10-07  1.56
5416  2019-10-08  1.54
5417  2019-10-09  1.59
5418  2019-10-10  1.67

[5419 rows x 2 columns]

In [88]:
risk_free_asset_rate =  .0453 #3 month U.S treasury
df['risk_free_asset_rate'] = [.0453+i*.001 for i in range(len(df.index))]
df

            DATE DGS10  risk_free_asset_rate
0     1999-01-04  4.69                0.0453
1     1999-01-05  4.74                0.0463
2     1999-01-06  4.73                0.0473
3     1999-01-07  4.77                0.0483
4     1999-01-08  4.86                0.0493
...          ...   ...                   ...
5414  2019-10-04  1.52                5.4593
5415  2019-10-07  1.56                5.4603
5416  2019-10-08  1.54                5.4613
5417  2019-10-09  1.59                5.4623
5418  2019-10-10  1.67                5.4633

[5419 rows x 3 columns]

In [128]:
df.set_index("DATE")

           DGS10  risk_free_asset_rate  dgs_10
DATE
1999-01-04  4.69                0.0453    4.69
1999-01-05  4.74                0.0463    4.74
1999-01-06  4.73                0.0473    4.73
1999-01-07  4.77                0.0483    4.77
1999-01-08  4.86                0.0493    4.86
...          ...                   ...     ...
2019-10-04  1.52                5.4593    1.52
2019-10-07  1.56                5.4603    1.56
2019-10-08  1.54                5.4613    1.54
2019-10-09  1.59                5.4623    1.59
2019-10-10  1.67                5.4633    1.67

[5419 rows x 3 columns]

In [129]:
df['dgs_10'] = df[df['DGS10']!='.']['DGS10'].apply(lambda x: float(x))

In [156]:
covariance_df = df[['risk_free_asset_rate', 'DGS10' ]].cov()
covariance_df

                      risk_free_asset_rate
risk_free_asset_rate              2.447582

In [168]:
beta_df = covariance_df/df['dgs_10'].var()

In [169]:
beta = beta_df.iloc[0]

In [146]:
df['dgs_10'].var()
#df['dgs_10']

1.6830256040374179

In [170]:
final = risk_free_asset_rate + beta*(1.67-risk_free_asset_rate)

In [171]:
print(final)

risk_free_asset_rate    2.40806
Name: risk_free_asset_rate, dtype: float64